
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

  * {  box-sizing: border-box;
    }


body {
  background-image: url("https://i.imgur.com/qzpVNy0.jpg");
  font-family: 'Roboto', sans-serif;
  margin: 40px;
  display: flex;
  flex-wrap: wrap;
	}

#container {
    background-color:#2992bf;
    border-radius: 10px;
    display: block;
    flex-wrap: wrap;
    box-shadow: 3px 5px 7px 3px #8395a7;
		align-items: center;
    justify-content: center;
    color: #fff;
    padding: 15px;
	}

header {
	border-bottom:1px dotted white;
	text-align:center;
}

header h1 { margin:0; padding:0;}

.hidden {
  display: none;
}

.explanation {
  color: gray;
  padding: 10px;
  border: 1px solid gray;
  background-color: lightgray;
}

#result {
	margin: 10px;padding: 10px;background-color: lightgray;border: 3px solid blue;color: darkblue;
	
	
} 

.success {
	color: lightgreen;
}

.unsuccessful {
	color: red;
}

 #container,
  form { min-width:100%;}

  .questioninput { margin-bottom:30px;}

.load {
	text-align: center; padding-top:60px;padding-bottom:60px;
}

.questioninput input{
	display: none;
	padding: 15px;
}

.questioninput label{
	color: black;
  padding: 15px;
	margin: 15px;
	width: 300px;
	display:inline-block;
	text-align: center;
	border-radius: 10px;
	background-color: lightgray;
  box-shadow: 3px 3px 9px 3px #075c77;
  font-size: larger;
}

.questioninput label:hover{
	background-color: gray;
}

.questioninput input[type="radio"]:checked + label {
    border: 2px solid blue;
    background-color: gray;
}

.questioninput hr{
  height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #1f246c8a inset;
}


#actions {
  text-align: center;
}

#actions button {
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  color: white;
  background-color: #2d8ae7;
}

.answerarea{
  text-align: center;
}

@media screen and (max-width: 795px){ 
.questioninput label{
  width: 90%;
 }

  body{
    margin: 0px;
  }  
  
}
  
@media screen and (max-width: 600px) {

  form {
    margin:initial;
    text-align:initial;
  }
}
